---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import QuickStart from "../components/QuickStart.astro";
import Examples from "../components/Examples.astro";
import ApiDocs from "../components/ApiDocs.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <div class="min-h-screen flex flex-col">
    <Navbar />
    <main class="flex-1">
      <Hero />
      <Features />
      <HowItWorks />
      <QuickStart />
      <Examples />
      <ApiDocs />
    </main>
    <Footer />
  </div>
</Layout>
